@charset "utf-8";

html{
    background-color: black;
    color: white;

}

.redText{
    color:#f34a1d;

}
.title, .actor, .character, .credits, .anabas-essex, .copyright, .publication{
    text-transform: uppercase;

}
.website{
    text-transform: lowercase;

}

div#container{
    
    background-color: black;
    justify-self: center;
    
    height:1184px;
    width:864px;

    margin: 100px auto;
    border: 1px solid white;

    background-image: url(../images/FRWL-textRemoved.png);

}

header{
    margin-top: 20px;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 25px;

    display: flex;

    text-align: center;
    
}

header div{
    align-content: center;

}
.title{
    display: inline-block;
    width: 80%;
    

}
.review{
    width: 20%;
    display: inline-block;

}

.filmReview{


}

.reviewers{


}

main{
margin-top: 647px;

}

.actor, .character{
    margin-right: 25px;
    margin-left: 25px;
    text-align: center;
}

.credits{
    margin-top: 23px;
    margin-bottom: 25px;
    margin-right: 25px;
    margin-left: 25px;
    /* margin-right: 113px; */
    /* margin-left: 153px; */
    display: flex;

}
.production{
    display:inline-block;
    
    padding-left: 128px;
    width: 305px;
    padding-right: 23px;
    /*  25 + 128 + 305 + 23 + 23 + 247 + 88 + 25 */

    text-align: right;
}
.actors{
    font-size: 5px;
    display:inline-block;
    padding-left: 23px;
    width: 247px;
    padding-right: 88px;

    align-content: end;
    text-align: left;


}

.summary{
    margin-left: 25px;
    margin-right: 25px;

}


