@charset "utf-8";

html{
    background-color: black;
    color: white;

}

div, header, footer{
    
    border: 1px solid white;
}

.redText{
    color:#f34a1d;

}

.title, .actor, .character, .credits, .anabas-essex, .copyright, .publication, .spectre{
    text-transform: uppercase;

}

.website{
    text-transform: lowercase;

}

div#container{
    
    background-color: black;
    justify-self: center;
    
    height:1184px;
    width:864px;

    margin: 100px auto;
    border: 1px solid white;

    background-image: url(../images/FRWL-textRemoved.png);

}

header{
    margin-top: 20px;
    margin-bottom: 25px;
    margin-left: 31px;
    margin-right: 26px;

    display: flex;

    text-align: center;
    
}

header div{
    align-content: center;

}
.title{
    /* display: inline-block; */
    
    margin-right: 21px;
    width: 603px;

}
.review{
    margin-left: 21px;
    margin-top: 8px;
    margin-bottom: 8px;
    width: 162px;
    /* display: inline-block; */

}

.filmReview{


}

.reviewers{


}

main{
margin-top: 647px;
margin-left: 32px;
margin-right: 26px;
margin-bottom: 11px;

}
.top-credit{
     

}
.actor, .character{
    text-align: center;
}

.credits{
    margin-top: 23px;
    margin-bottom: 25px;

    /* margin-right: 113px; */
    /* margin-left: 153px; */
    display: flex;

}
.production{
    /* display:inline-block; */
    
    margin-left: 121px;
    margin-right: 23px;
     width: 301px;
    /*  32 + 121 + 301 + 23 + 23 + 247 + 91 + 26 */

    text-align: right;
}
.actors{
    font-size: 5px;
    /* display:inline-block; */
    margin-left: 23px;
    margin-right: 91px;
    width: 247px;
    align-content: end;
    text-align: left;


}

.summary{
    

}

footer{
    margin-left: 20px;
    margin-right: 20px;
    width: 824px;
    height: 23px;
    margin-bottom: 10px;
    display: flex;
    font-size: 4.4px;
    text-align: justify;

}
.anabas{
    width: 156px;
}
.copyright{
    width: 59px;

}
.publication{
    width: 561px;

}
div[class*="anabas"]{
    margin-right: 10px;
}

.copyright{
    margin-right: 5px;
}
