@charset "utf-8";
@font-face {
    font-family: "Bodoni Moda";
    src: url("../fonts/Bodoni\ Moda/BodoniModa-VariableFont_opsz,wght") format(truetype);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Benzin Bold";
    src: url("../fonts/Benzin\ Bold/benzin-bold.ttf") format("truetype");
}

html{
    background-color: black;
    color: white;
    
}

.mask{
    position: absolute;
    z-index: 1;

}
body {
    position: relative;
    z-index: 0;
}

/* div, header, main, footer{
    border: white 1px solid;
} */

.redText{
    color:#f14a2b;

}
.blackText{
    color: black;
}

.title, .actor, .character, .credits, .anabas-essex, .copyright, .publication, .spectre{
    text-transform: uppercase;

}

.website{
    text-transform: lowercase;

}

div#container{
    
    background-color: black;
    justify-self: center;
    
    height:1184px;
    width:864px;

    margin: 100px auto;
    border: 1px solid white;

    background-image: url(../images/FRWL-textRemoved_fixed.png);

}
a{
    position: relative;
    z-index: 2;
    color: white;
}
a:hover{
    color:#f14a2b;
}
a:visited{
    color: #610e03;

}

header{
    margin-top: 20px;
    margin-bottom: 25px;
    margin-left: 31px;
    margin-right: 26px;

    display: inline-flex;
    
    
}

header div{
    align-content: center;
    text-align: center;
    white-space: nowrap;
}

.title{
    margin-right: 21px;
    width: 603px;
    max-height: 90px;

    transform-origin:middle;
    transform: scaleY(2.65); 

    font-family: "Bodoni Moda", serif;
    font-optical-sizing:none;
    font-size: 46px;
    font-weight: 900;
    line-height: 0;
}

.review{
    margin-left: 21px;
    margin-top: 8px;
    margin-bottom: 8px;
    width: 162px;

    font-family: "Benzin Bold";

    transform-origin: middle;
    transform: scaleY(1.1);

}

.filmReview{
    font-size: 32px;
    line-height: 0; 
    vertical-align:bottom;
    

}

.reviewers{
    font-size: 5px;
    vertical-align: middle;
    line-height: 7.5;

}

main{
    margin-top: 620px;
    margin-left: 32px;
    margin-right: 26px;
    margin-bottom: 11px;
    


}

.top-credit{
    font-family: "Bodoni Moda", serif;
    

}

.actor, .character{
    text-align: center;
    white-space: nowrap;

}

.actor{
    margin-left: 199px;
    margin-right: 148px;
    font-size: 46px;

}

.character{
    margin-left: 264px;
    margin-right: 223px;
    font-size: 35px;
}

.top-credit div span[class*="role"]{
    font-size: 20px;

}

.credits{
    margin-top: 23px;
    margin-bottom: 25px;

    
    display: flex;

    font-family:sans-serif;
    line-height: 1;
}

.production{
    
    margin-left: 121px;
    margin-right: 23px;
    width: 301px;

    text-align: right;
    font-size: 16px;
}

.director{
    text-align: left;
}

.actors{
    margin-top: 17px;
    margin-left: 23px;
    margin-right: 91px;
    width: 247px;

    align-content: end;
    text-align: left;

    line-height: 1.3;
    

}

.credits div span[class*="role"], .sub, .actors{
    font-size: 8.3px;

}

.summary{
    font-family:sans-serif;
    font-size:11px;


}

footer{
    margin-left: 20px;
    margin-right: 20px;
    width: 824px;
    height: 23px;
    margin-bottom: 10px;
    display: flex;
    
    font-family:sans-serif;
    font-size: 4.15px;
    text-align: justify;


}

.anabas{
    width: 156px;
}

.copyright{
    width: 59px;
    margin-right: 5px;

}

.publication{
    width: 561px;


}

div[class*="anabas"]{
    margin-right: 10px;
}

.anabas, .copyright, .publication{
    margin-top: 12px;

}

