@charset "utf-8";
@media screen and (min-width: 700px){
    header{
        display: flex;
        justify-content: space-evenly;
        align-items:baseline;

    }
    
}
@media screen and (max-width: 699px){
    header{
        display: block;
    }
    header h1, header nav ul{
        margin-block-start:0%;
        margin-block-end: 0;
        
    }
    header h1{
        justify-self:center;
        word-break:keep-all;
    }
    header nav{
        justify-self:center;
    }
    
}