@charset "utf-8";
@media screen and (min-width: 730px){
    header{
        display: flex;
        justify-content: space-evenly;
        align-items:baseline;
    }
    .main-row{
        display: flex;
        justify-content: space-evenly;
    }
    div.main-row .fig{
        width: 60%;
    }
    div.main-row .fig-desc{
        padding:3%;
        width: 40%;
        text-align: left;
        align-content: center;
    }
    div.main-row .fig-small{
        width: 30%;
    }
    div.main-row .fig-small-desc{
        padding:3%;
        width: 70%;
        text-align: left;
        align-content: center;
    }
    div.main-row .main-review{
        padding:4%;
        width:25%;
    }
    div.main-row .main-review h3{
        text-align: center;
    }
    div.main-row#submission-box{
        padding-left:15%;
        justify-content:left;
    }
}
@media screen and (max-width: 729px) and (orientation: portrait){
    header{
        display: block;
    }
    header h1, header nav ul{
        margin-block-start:0%;
        margin-block-end: 0;  
    }
    header h1, header nav{
        justify-self:center;
    }  
    .main-row{
        justify-content: center;
    }
    .main-row .fig-desc, .main-row .main-review{
        text-align: center;
    } 
    .main-row .main-review{
        padding-top: 2rem;
    }
}