@charset "utf-8";
@font-face {
    font-family: "Augustus";
    src: url("../fonts/augustus/AUGUSTUS.TTF") format("truetype");
    /* https://www.dafont.com/augustus.font */
}
@font-face {
    font-family: "Greek Freak";
    src: url("../fonts/greek_freak/Greek-Freak.ttf") format("truetype");
    /* https://www.dafont.com/greek-freak.font */
}