/*
base style sheet
*/
@charset "utf-8";
@font-face {
    font-family: "Greek Freak";
    src: url("../fonts/greek_freak/Greek-Freak.ttf") format("truetype");
    /* https://www.dafont.com/greek-freak.font */
}
html{
    background-color: #a67748;
    min-width: 285px; 
    font-size: 1.15rem;
    font-family: "Greek Freak";
}
body{
    background-image: url(../images/sandstone-texture.jpg);
    /* https://www.flickr.com/photos/seier/4655145027 */
    background-repeat:repeat;
    background-size:30%;
    flex-direction:column;
    margin: 0;
}
header{
    background-color: #fcf7f4;
    padding: 0% 1% 0% 1%;
    color: #014ecb;
    width: 98%; 
}
nav {
    align-items:baseline;
}
nav ul{
    list-style-type: none;
    padding-inline-start:0;
    justify-content:space-evenly;
    display: inline-flex; 
    gap: 10px;
}
header a, main a{
    text-decoration: none;
}

header a:visited{
    color: #014ecb;
}
main a:visited{
    color: #fcf7f4; 

}
header a:hover, main a:hover{
    color: #e4c00c;
    font-size:110%;
}
main{
    height: 100%;
    padding: 3%;
    color: #8b3019;
}
img{
        width: 100%;
        border: solid #8b3019 0.2rem;
}
.original-price{
    color: red;
    text-decoration: line-through;
}
.new-price:hover{ 
    font-size:2rem;
}
.main-row .hero-desc, div.main-row .hero{
        width: 80%;
        text-align: center;
    }
.main-row .main-review p{
        padding-bottom: 0.5rem;
        border-bottom: solid #8b3019 0.2rem;
}
fieldset{
    border: solid #8b3019 0.1rem;
    margin-bottom: 3rem;
}
fieldset p.review-button{
    display: flex;
    justify-content: flex-end;
    gap: 1em;
}
footer{
    height: 4rem;
    background-color: #a67748;
    font-size: 0.5rem;
    text-align: center;
    color: #b88450;
    border-bottom: dashed #a27344 0.1rem;
}
footer p{
    padding:1.5rem;
    margin-block: 0;
}
footer:hover{
    color: #8b3019;
}





